<div id ="gotit" class="nav-full-width" style="background-color: #004c97;color: #fff;width: 100%;height: 50px; ">
  <div id="dssd" class="container" style="color: #fff;">
  <nav id ="ready" class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
       <!--  <span class="glyphicon glyphicon-home"></span> -->
        <div class="navbar-logo">
          <img src="/img/genfare-logo.png" alt="Genfare Logo" width="200">
        </div>
      </a>
    </div>

   <!--  <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Welcome</a></li>
      </ul>
    </div> -->

  </div>
  </nav>
</div>
</div>



 <!--<div class="contextMenu" id="myMenu1" style="display:none;">
        <ul>
          <li id="copy">Copy</li>
          <li id="delete">Delete</li>
        </ul>
  </div>-->


<!--
<ul>
    <li id="liid" class="collapsable">
        <div class="hitarea collapsable-hitarea">
        </div>
        <span class="folder">Group1.2</span>
    </li>
</ul>-->

<!--<script>
$(function() {
    $('.nav-full-width').on('contextmenu', 'nav', function(e) {
        e.preventDefault();
        alert(this.id);
    });
});
</script>-->





