<div class="row reset-margin reset-padding">
    <div class="action-btns pull-right">
        <button class="btn btn-sm"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
        <button class="btn btn-sm btn-green"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
    </div>
</div>
            
<div class="panel panel-default" >
    <div class="panel-heading">
        <h3 class="panel-title"><stong>Payment Information</stong></h3>
    </div>
    <div class="panel-body">

        <div class="row main-section">
            <div class="col-md-12 ">
                <div class="sub-head col-md-8 col-xs-4 reset-margin reset-padding">
                    <p><strong>eFare</strong></p>
                </div>

             
            </div>
        </div>
        <hr class="hr-color" />

        <div class="row main-section-content reset-margin reset-padding">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-checked="{{vm.efare.credit}}" ng-model="vm.efare.credit">Credit {{vm.efare.credit}}
                </label>
            </div>
        </div>
        <div class="row apos-section">
            <div class="col-md-12 ">
                <div class="sub-head col-md-8 col-xs-4 reset-margin reset-padding">
                    <p><strong>APOS</strong></p>
                </div>

             
            </div>
        </div>
        <hr class="hr-color" />
        <div class="row apos-section-content">
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Cash
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Credit Card/Debit Card
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Comp
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Check
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Unused Media
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Voucher
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Stored Value
                    </label>
                </div>
            </div>
        </div>
        <div class="row rpos-section">
            <div class="col-md-12 ">
                <div class="sub-head col-md-8 col-xs-4 reset-margin reset-padding">
                    <p><strong>RPOS</strong></p>
                </div>

             
            </div>
        </div>
        <hr class="hr-color" />
        <div class="row rpos-section-content">
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Cash
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Credit Card/Debit Card
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Check
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Voucher
                    </label>
                </div>
            </div>
        </div>
        <div class="row csr-section">
            <div class="col-md-12 ">
                <div class="sub-head col-md-8 col-xs-4 reset-margin reset-padding">
                    <p><strong>CSR(b2c)</strong></p>
                </div>
            </div>
        </div>
        <hr class="hr-color" />
        <div class="row csr-section-content">
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Credit Card/Debit Card
                    </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Comp
                    </label>
                </div>
            </div>
        </div>
        <div class="row csr-section">
            <div class="col-md-12 ">
                <div class="sub-head col-md-8 col-xs-4 reset-margin reset-padding">
                    <p><strong>CSR(b2b)</strong></p>
                </div>
            </div>
        </div>
        <hr class="hr-color" />
        <div class="row csr-section-content">
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Credit Card/Debit Card
                    </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Invoicing
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>