<div class="row media-tab-section-content reset-pading reset-margin">
    <h4>Printed Bar</h4>
    <div class="row">
        <div class="col-md-4">
            life of Media
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Months</label>
                <div class="input-group">
                    <div class="input-group-addon">Months</div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="">
                </div>
            </div>
        </div>
    </div><!--row -->

    <div class="row">
        <div class="col-md-4">
            Number of Unique Products
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Min</label>
                <div class="input-group">
                    <div class="input-group-addon">Min</div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Max</label>
                <div class="input-group">
                    <div class="input-group-addon">Max</div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="">
                </div>
            </div>
        </div>
    </div><!--row -->
    <div class="row"><div class="col-md-12"><strong>Purchase Fee</strong></div></div>
    <div class="row">
        <div class="col-md-2">
            Amount
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="">
                </div>
            </div>
        </div>
    </div><!--row -->
    <div class="row"><div class="col-md-12"><strong>Replacement Fee</strong></div></div>
    <div class="row">
        <div class="col-md-2">
            Lost/Stolen
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Lost/Stolen</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            Demaged
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Demaged</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="">
                </div>
            </div>
        </div>
    </div><!--row -->

</div>